@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Norwester';
	src:
		url('/norwester.eot'),
		local('Norwester'),
		url('/norwester.eot') format('embedded-opentype');
}
@font-face {
	font-family: 'Vonique92';
	src:
		url('/vonique92.eot'),
		local('Vonique92'),
		url('/vonique92.eot') format('embedded-opentype');
}

@font-face {
	font-family: 'pixelifysans';
	src:
		url('/pixelifysans.ttf'),
		local('pixelifysans'),
		url('/pixelifysans.ttf') format('truetype-font');
}

h1 {
	font-family: Norwester;
	font-size: 2rem;
	line-height: normal;
}

h2 {
	font-size: 1.75rem;
}

p{
	font-size: 1.25rem;
}
